*{
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

.top-header {
    background-color: rgb(121, 223, 183);
    padding-top: 10px;
    padding-bottom: 10px;
    .search{
        margin-left: 10px;
    }
    form {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        align-items: center;
        img {
            width: 25px;
            height: 25px;
        }

    }
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1.2em;
    border-top: solid rgba(0,0,0,0.5);
    border-bottom: solid rgba(0,0,0,0.5);
    z-index: 205 !important;
    width: 100%;
    max-width: 1800px;
    position: relative;

    .navbar-toggler {
        background-color: white;
        font-size: 1.2em;
        border-radius: 1.5em;
        padding: 0.8em 1.8em;
        list-style-type: none;
    }
    .navbar-ws{
        border-radius: 1.4em;
        background: url("../pictures/logo.jpg");
        background-size: cover ;
        padding: 5em;
        .navbar-brand {
            color: #FFFFFF;
            padding-left: 1.7em;
            padding-right: 1.7em;
        }
    }
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: rgba(0,0,0,0.5);
}

#navbarSupportedContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-navbar-collapse ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
.collapse-navbar-collapse li {
    float: left;
    margin: auto;
    padding: 0;

    li a {
        display: block;
        width: 100px;
        color: black;
        text-decoration: none;
        padding: 0.8em 1.8em;;
        background-color: rgb(121, 223, 183);
        border-radius: 1.5em;
    }
}
.collapse-navbar-collapse li a:hover {
    color:#FFD700;
}
.collapse-navbar-collapse ul li ul {
    display:none;
}
.collapse-navbar-collapse ul li:hover ul {
    display:block;
}
.collapse-navbar-collapse li:hover ul li {
    float:none;
}
.collapse-navbar-collapse li ul {
    position:absolute;
}

.survey{
    font-size: 1.2em;
    padding: 0.8em;
    border-radius: 1.5em;
}

body{
    font-size: 1.2em;
    background-color: rgba(156, 248, 149, 0.5);
    text-align: center;
}

