{% extends "base.html.twig" %}

{% block header %}
    Cliquez sur les liens
{% endblock %}

{% block body %}
    <a href='https://www.hellobank.fr/rsc/contrib/pdf/tarifs-hellobank.pdf'>Tarifs de HelloBank</a>
    <a href='https://www.orangebank.fr/tarifs'>Tarifs de Orange Bank</a>
    <a href='https://www.boursorama.com/pub/brochure_tarifaire/boursorama_bt.pdf'>Tarifs de Boursorama</a>
{% endblock %}
