{% extends "base.html.twig" %}

{% block header %}
  <h1>{{ click }}</h1>
{% endblock %}

{% block body %}
  <a href='https://mabanque.bnpparibas/fr/notre-offre/tarifs-et-conditions-bnp-paribas/conditions-tarifaires'target="_blank">Tarifs de BNP PARIBAS</a>
  <a href='https://particuliers.societegenerale.fr/tous-nos-tarifs'target="_blank">Tarifs de Société Générale</a>
  <a href='https://www.caisse-epargne.fr/hauts-de-france/tarifs-informations-reglementaires'target="_blank">Tarifs de la Caisse d'Epargne</a>
{% endblock %}
