{% extends "base.html.twig" %}

{% block header %}
  Cliquez sur les liens
{% endblock %}

{% block body %}
  <a href='https://mabanque.bnpparibas/fr/notre-offre/tarifs-et-conditions-bnp-paribas/conditions-tarifaires'>Tarifs de BNP PARIBAS</a>
  <a href='https://particuliers.societegenerale.fr/tous-nos-tarifs'>Tarifs de Société Générale</a>
  <a href='https://www.caisse-epargne.fr/hauts-de-france/tarifs-informations-reglementaires'>Tarifs de la Caisse d'Epargne</a>
{% endblock %}
